#mainPage {
  text-align: center;
  }
  
p {
  color: red;
}

.yellowModal {
    background-color: yellow;
}

/* .makeBlackAndRed {
  background-color: red;
  color: black;
  cursor: pointer;
  padding: 2em;
  border: 0;
  border-radius: 20px;
  display: block;
  margin: auto;
  font-weight: bold;
} */