body {
  position: relative;
  background-color: rgba(15, 15, 15, 0.904);
  width: 100%;
  text-align: center;
  color: white;
}

/* p {
  color: brown;
} */

.yellowModalLeft, .yellowModalRight {
  position: fixed;
  background-color: yellow;
  color: rgba(15, 15, 15, 0.904);  
  border-radius: 5px;
  border: 0;
  padding: 0.5em;  
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 0.8em;
  line-height: 2em;
  text-align: center;
  width: 60%;
  max-height: 90%;
  overflow: auto;
}

.yellowModalLeft {
  left: 50%;
  top: 65%;
}

.yellowModalRight {
  left: 50%;
  top: 35%;
}

ul {
  list-style-type: none;
  padding: 0; /*centres li items*/
}

.xButton {
  background-color: black;
  color: white;
  margin-top: 1px;
}

.mainButtons {
  background-color: red;
  color: black;
  cursor: pointer;
  padding: 2em;
  border: 0;
  border-radius: 20px;
  margin: 1em;
  font-weight: bold;
}

.flexingDivs {
  display: flex;
  justify-content: center;
}