body {
  background-color: rgba(15, 15, 15, 0.829);
  text-align: center;
}

p {
  color: brown;
}

.yellowModal {
  background-color: yellow;
  padding: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

ul {
  list-style-type: none;
  padding: 0; /*centres li items*/
}

.xButton {
  background-color: black;
  color: white;
  margin-top: 1px;
}

.mainButtons {
  background-color: red;
  color: black;
  cursor: pointer;
  padding: 2em;
  border: 0;
  border-radius: 20px;
  display: block;
  margin: auto;
  font-weight: bold;
}
